@use '../abstracts/'as *;

.cta-button {
    font-family: "VT323", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #28226b;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    margin: 24px auto 10px auto;
    display: block;
    padding: 16px;
    width: 90%;
}

.cta-button-orange {
    font-family: "VT323", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: $orange;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    display: block;
    padding: 16px;
    width: 90%;
}
