@use '../abstracts/'as *;
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #442e6c;
    cursor: pointer;
    z-index: 1;
    opacity:0.8;
}

.modal-overlay--hidden {
    background-color: transparent;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    height: 92vh;
    min-height: 70vh;
    background: #fff;
    overflow-y: auto;
    z-index: 2;
    animation: showModal 0.5s forwards;
}

.modal--hidden {
    animation: hideModal 0.5s forwards;
}

.close-icon {
    width: fit-content;
    background: #eceafd;
    font-size: 33px;
    padding: 12px 20px;
    margin: 50px auto 0;
    cursor: pointer;
}

@keyframes showModal {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideModal {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}
.FJoutModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FJmodal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 1rem 0;
    &__title {
        text-align: center;
        color: $bleu;
        margin-bottom: 2rem;
    } 
    &__card {
        border: 1px solid white;
        box-shadow: 0px 4px 7px 0px rgba(47, 76, 151, 0.12);
        width: 40%;
        background-color: white;
        padding: 8px;
        color: $bleu;
        text-align: center;
        .card__image {
            display: flex;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            margin: 10px 0;
        }
    }
}