### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

build
dist

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Parcel ###
.parcel-cache/
*.css.map
*.sass.map
*.scss.map
*.js.map

# End of https://www.toptal.com/developers/gitignore/api/react,sass
# Local Netlify folder
.netlify
