@import "theme.scss";


body {
    margin: 0;
}

button {
    cursor: pointer;
}

.enfantInfos, .animateurInfos {
    cursor: pointer;
}

.ajoutBackgroundChoisi {
    background-color: #28226b;
}

.persoNom {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
}

.profil {
    position: relative;
    width: 151px;
    height: 143px;
    margin: auto;

    .profil_containerImg {
        height: 100px;
        width: inherit;

        .profileOpacity {
            /*background-color: #28226b;*/
            opacity: 0.7;
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .profileChecked {
            position: absolute;
            width: inherit;
            height: inherit;
            top: 26%;
            display: none;
        }
    }
}

.buttonChoixPerso, .buttonConfirmer {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #28226b;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    margin: 24px auto 10px auto;
    display: block;
    padding: 16px;
    width: 90%;
}

/*HOME*/
#home {
    background-color: #28226b;
    height: 90vh;

    img {
        display: block;
        margin: 0px auto;
        padding-top: 55px;
    }

    .accueilBtns {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    
        button {
            width: 100%;
            color: white;
            border-style: solid;
            border-color: transparent;
            border-radius: 20px;
            font-weight: bold;
            margin: 10px 0;
            padding: 20px 0;
            font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
            font-size: 25px;
        }
    
        button:nth-child(1) {
            background-color: #4fab78;
        }
    
        button:nth-child(2) {
            background-color: #e375a3;
        }
    
        button:nth-child(3) {
            background-color: #e06f4d;
        }
    }
}



/*CONFIGURATION*/

#configurationContainer {
    color: white;

    .subTitle {
        text-align: center;
        font-size: 26px;
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    }

    .persoNom {
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #28226b;
    }

    
    #choixNombreJoueur {
        background-color: #28226b;
        padding: 30px 10px;

        div {
            display: flex;
            flex-direction: column;

            button {
                font-family: "VT323", "Roboto", Arial, Helvetica, sans-serif;
                font-size: 20px;
                margin: 10px 0;
                padding: 10px 0;
                border-style: solid;
                border-color: transparent;
                border-radius: 20px;
                font-weight: bold;
            }
        }
    }



    #joueursEnfants {
        background-color: #28226b;
        padding: 30px 10px;

    

        .joueursEnfants_list {
            display: flex;
            flex-direction: column;

                .enfantInfos {
                    background-color: white;
                    padding: 20px;
                    color: black;
                    text-align: center;
                    margin: 10px 0;
                }
        }
    }


    #animateurs {
        background-color: #28226b;
        padding: 30px 10px;

        .animateurs_list {
            display: flex;
            flex-direction: column;

                .animateurInfos {
                    background-color: white;
                    padding: 20px;
                    color: black;
                    text-align: center;
                    margin: 10px 0;
                }
        }
    }

    #installationPlateau {
        background-color: #28226b;
        padding: 30px 10px;

        img {
            display: block;
            margin: 40px auto;
        }

        ul {
            padding: 0;
            li {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 10px 0;

                .etapeImg {
                    color: black;
                    display: flex;
                    margin-right: 10px;
                    justify-content: center;
                    align-items: center;
                    width: 33px;
                    height: 33px;
                    background-repeat: no-repeat;
                    background-image: url(../assets/img/cube.svg);
                }
            }
        }
    }
}






/* NAVBAR */
nav {
    height: 77px;

    img {
        margin: 16px 8px;
    }
}
/* Burger */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 20px;
  }
  
  .bm-burger-bars {
    background: black;
    height: 15%!important;
  }
  
  .bm-burger-bars-hover {
    background: red;
  }
  
  .bm-cross-button {
    display: none;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: white;
  }
  
  .bm-item-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #b8b7ad;
  }
  
  .bm-item-list a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }
  
  .bm-item {
    display: inline-block;
    padding: 0.2rem;
  }
  
  .bm-overlay {
    background: rgba(228, 106, 72, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  

  /*GALERIE*/

#thematiques {
    color: white;
    background-color: #28226b;
    padding: 30px 10px;


    .subTitle {
        text-align: center;
        font-size: 26px;
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    }

    #thematiques_list {
        display: flex;
        flex-direction: column;

            .thematiquesInfos {
                background-color: white;
                padding: 20px;
                color: black;
                text-align: center;
                border-style: solid;
                border-color: transparent;
                border-radius: 20px;
                margin: 10px 0;
            }
    }
    
}






/*MODAL*/


.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #442e6c;
    cursor: pointer;
    z-index: 1;
    opacity:0.8;
}

.modal-overlay--hidden {
    background-color: transparent;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    min-height: 70vh;
    background: #fff;
    border-radius: 70px 70px 0 0;
    overflow-y: auto;
    z-index: 2;
    animation: showModal 0.5s forwards;
}

.modal--hidden {
    animation: hideModal 0.5s forwards;
}

.close-icon {
    width: fit-content;
    background: #eceafd;
    font-size: 33px;
    padding: 12px 20px;
    margin: 50px auto 0;
    cursor: pointer;
}

@keyframes showModal {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideModal {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}


/*POP IN QUIZZ*/

#panelActions {
    .subTitle {
        color: #28226b;
        margin: 20px 0;
        font-size: 37px;
        text-align: center;
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;

    }

    #choixAnimateur {
        padding: 2rem;
        
        .remarque {
            background-color: #fae3ed;
            color: #E275A3;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }

        .listAnimateurChoisis {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .animateurInfos {
                padding: 20px;
                color: #28226b;
                text-align: center;
                box-shadow: 0 2px 10px #0000003d;
                margin-right: 27px;
            }
        }
    }

    #questionQuizz {
        padding: 2rem;
        
        .nomThematique {
            color: #E06F4D;
            background-color: #fbf2ed;
            padding: 20px;
        }

        .nomThematique, .questionTitre, .listReponses, .resultsContainer .result, .resultsContainer .infos {
            text-align: center;
        }

        .questionTitre, .listReponses, .resultsContainer .infos {
            color: #28226b;
        }

        .listReponses p{
            padding: 20px;
            background-color: #eceafd;
            margin: 10px 0;
        }

        .resultsContainer {
   
            .result {
                color: #e06f4d;
                font-weight: bold;
            }

            
        }

      
    }
}
