@use '../abstracts/' as *;

body {
    margin: 0;
}

button {
    cursor: pointer;
}

#choixNombreJoueur {
    height: 88vh;
}

.enfantInfos, .animateurInfos {
    cursor: pointer;
}

.ajoutBackgroundChoisi {
    background-color: $bleu;
}

.persoNom {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 10px 0;
}

.profil {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;

    .profil_containerImg {
        display: flex;
        height: 100%;
        width: inherit;

        .profileOpacity {
            /*background-color: #28226b;*/
            opacity: 0.7;
            position: absolute;
            width: 100%;
            height: 100%;

        }

        .profileChecked {
            position: absolute;
            width: inherit;
            height: inherit;
            top: 26%;
            display: none;
        }

        .profil_photo {
            width: 100%;
            height: 100%;
        }
    }
}
.validation {
    position: absolute;
    width: 100%;
}
.buttonChoixPerso, .buttonConfirmer {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #28226b;
    color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    margin: 24px auto 10px auto;
    display: block;
    padding: 16px;
    width: 90%;
}

/*HOME*/
#home {
    background-color: #28226b;
    height: 90vh;

    img {
        display: block;
        margin: 0px auto;
        padding-top: 55px;
    }

    .accueilBtns {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    
        button {
            width: 100%;
            color: white;
            border-style: solid;
            border-color: transparent;
            border-radius: 20px;
            font-weight: bold;
            margin: 10px 0;
            padding: 20px 0;
            font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
            font-size: 25px;
        }
    
        button:nth-child(1) {
            background-color: #4fab78;
        }
    
        button:nth-child(2) {
            background-color: #e375a3;
        }
    
        button:nth-child(3) {
            background-color: #e06f4d;
        }
    }
}

/*CONFIGURATION*/

.joueursPicto {
    margin-bottom: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        object-fit: contain;
        height: 19.04px;
    }
}

#configurationContainer {
    color: white;

    .cta-texte {
        width: 100%;
        text-align: center;
    }

    .persoNom {
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: $bleu;
    }

    
    #choixNombreJoueur {
        background-color: #28226b;
        padding: 30px 10px;

        div {
            display: flex;
            gap: 1rem;
            flex-direction: column;

            button {
                font-family: "VT323", "Roboto", Arial, Helvetica, sans-serif;
                font-size: 20px;
                padding: 1rem 0;
                font-weight: bold;
            }
        }
    }



    #joueursEnfants {
        background-color: $bleu;
        padding-block: 30px 3rem;

        .joueursEnfants_list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        

                .enfantInfos {
                    // width: 130px;
                    width: 40%;
                    background-color: white;
                    padding: 8px;
                    color: $bleu;
                    text-align: center;

                    p {
                        margin: 10px 0;
                    }
                }
        }
    }


    #animateurs {
        padding-block: 30px 3rem;
        background-color: $bleu;

        .animateurs_list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;

                .animateurInfos {
                    width: 40%;
                    background-color: white;
                    padding: 8px;
                    color: black;
                    text-align: center;
                    
                    p {
                        margin: 10px 0;
                    }
                }
        }
    }

    #installationPlateau {
        height: 60vh;
        background-color: $bleu;
        padding-block: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 1rem;
        margin: 0;
        img {
            display: block;
            margin-block: 4rem;
        }

        .listEtapes {
            margin: 0;
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 1rem;
            li {
                display: flex;
                align-items: center;
                list-style: none;

                .etapeImg {
                    font-family: "Cabin", Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: 23px;
                    color: black;
                    display: flex;
                    margin-right: 1rem;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    background-repeat: no-repeat;
                    /*background-image: url('../../assets/img/cube.svg');//*/
                    background-image: url('../../assets/img/cube.svg');
                    background-size: contain;
                }
            }
        }
    }
}

  /*GALERIE*/

#thematiques {
    color: white;
    background-color: #28226b;
    padding: 30px 10px;


    .subTitle {
        text-align: center;
        font-size: 26px;
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    }

    #thematiques_list {
        display: flex;
        flex-direction: column;

            .thematiquesInfos {
                background-color: white;
                padding: 20px;
                color: black;
                text-align: center;
                border-style: solid;
                border-color: transparent;
                border-radius: 20px;
                margin: 10px 0;
            }
    }
    
}


/*POP IN QUIZZ*/

#panelActions {
    .subTitle {
        color: #28226b;
        margin: 20px 0;
        font-size: 37px;
        text-align: center;
        font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;

    }

    #choixAnimateur {
        padding: 2rem;
        
        .remarque {
            background-color: #fae3ed;
            color: #E275A3;
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }

        .listAnimateurChoisis {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .animateurInfos {
                padding: 8px 8px 0 8px;
                color: #28226b;
                text-align: center;
                box-shadow: 0 2px 10px #0000003d;
                margin-right: 27px;
                margin-bottom: 10px;
            }
        }
    }

    #questionQuizz {
        padding: 2rem;
        
        .nomThematique {
            color: #E06F4D;
            background-color: #fbf2ed;
            padding: 20px;
        }

        .nomThematique, .questionTitre, .listReponses, .resultsContainer .result, .resultsContainer .infos {
            text-align: center;
        }

        .questionTitre, .listReponses, .resultsContainer .infos {
            color: #28226b;
        }

        .listReponses p{
            padding: 20px;
            background-color: #eceafd;
            margin: 10px 0;
        }

        .resultsContainer {
   
            .result {
                color: #e06f4d;
                font-weight: bold;
            }

            
        }

      
    }
}

.choixNombreJoueurs__buttons button {
    border-radius: 0;
    padding-block: 2rem;
    color: $bleu;
    background-color: white;
    border: 1px solid white;
}