@use '../abstracts/'as *;

h3 {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 2.125rem;
    line-height: 31px;
    letter-spacing: -0.75px;
    font-weight: 300;
    margin: 0;
}

.body1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 18px;
    letter-spacing: 0.25px;
    margin: 0;
}

.body2 {
    font-size: 16px;
    font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin: 0;
}

.cta-text {
    font-family: 'VT323', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-family: 1.5rem;
    font-weight: 300;
}

.align-center {
    text-align: center;
}

.sous-titre {
    margin: 0;
    color: $bleu;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
}